".vs\" 
"bin\" 
"obj\" 
.vs/sisconGestão/FileContentIndex/2f1e44bb-925c-4c4e-94a8-31ef04c732c0.vsidx
.vs/sisconGestão/FileContentIndex/read.lock
.vs/sisconGestão/v17/.suo
bin/Debug/sisconGestão.exe
bin/Debug/sisconGestão.exe.config
bin/Debug/sisconGestão.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/sisconGestão.csproj.AssemblyReference.cache
obj/Debug/sisconGestão.csproj.CoreCompileInputs.cache
obj/Debug/sisconGestão.csproj.FileListAbsolute.txt
obj/Debug/sisconGestão.csproj.GenerateResource.cache
obj/Debug/sisconGestão.csproj.SuggestedBindingRedirects.cache
obj/Debug/sisconGestão.exe
obj/Debug/sisconGestão.Form1.resources
obj/Debug/sisconGestão.frmAguarde.resources
obj/Debug/sisconGestão.frmDocumentosGerais.resources
obj/Debug/sisconGestão.frmEvidencias.resources
obj/Debug/sisconGestão.frmLancamentoHoras.resources
obj/Debug/sisconGestão.frmTelaPrincipal.resources
obj/Debug/sisconGestão.pdb
obj/Debug/sisconGestão.Properties.Resources.resources
