".vs\" 
"bin\" 
"obj\" 
.vs/sisconGestão/FileContentIndex/2f1e44bb-925c-4c4e-94a8-31ef04c732c0.vsidx
.vs/sisconGestão/FileContentIndex/read.lock
.vs/sisconGestão/v17/.suo
bin/Debug/sisconGestão.exe
bin/Debug/sisconGestão.exe.config
bin/Debug/sisconGestão.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/sisconGestão.csproj.AssemblyReference.cache
obj/Debug/sisconGestão.csproj.CoreCompileInputs.cache
obj/Debug/sisconGestão.csproj.FileListAbsolute.txt
obj/Debug/sisconGestão.csproj.GenerateResource.cache
obj/Debug/sisconGestão.csproj.SuggestedBindingRedirects.cache
obj/Debug/sisconGestão.exe
obj/Debug/sisconGestão.Form1.resources
obj/Debug/sisconGestão.frmAguarde.resources
obj/Debug/sisconGestão.frmDocumentosGerais.resources
obj/Debug/sisconGestão.frmEvidencias.resources
obj/Debug/sisconGestão.frmLancamentoHoras.resources
obj/Debug/sisconGestão.frmTelaPrincipal.resources
obj/Debug/sisconGestão.pdb
obj/Debug/sisconGestão.Properties.Resources.resources
.vs/sisconGestão/FileContentIndex/d9b7469c-5f2a-4ef8-ae2a-246de588b75d.vsidx
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/TempPE/SISCONPROJECTSDataSet.Designer.cs.dll
.vs/sisconGestão/FileContentIndex/723ee0c9-996b-42ca-ab6b-5b49c2467bae.vsidx
.vs/sisconGestão/FileContentIndex/08d6d9c3-6d81-408c-9011-42750bbadd8e.vsidx
.vs/sisconGestão/FileContentIndex/write.lock
.vs/sisconGestão/FileContentIndex/0df06ce9-c69f-4fac-8d44-fb2d1c2f599f.vsidx
.vs/sisconGestão/FileContentIndex/fae02626-c3e4-4af2-98c3-378d9118162e.vsidx
.vs/sisconGestão/FileContentIndex/425c4e4e-0cfd-4cb4-9938-763b45b0c3a5.vsidx
.vs/sisconGestão/FileContentIndex/0c54ba43-16a3-4a1c-8c7e-03e757f4634f.vsidx
