".vs\" 
"bin\" 
"obj\" 
.vs/sisconGestão/FileContentIndex/2f1e44bb-925c-4c4e-94a8-31ef04c732c0.vsidx
.vs/sisconGestão/FileContentIndex/read.lock
.vs/sisconGestão/v17/.suo
bin/Debug/sisconGestão.exe
bin/Debug/sisconGestão.exe.config
bin/Debug/sisconGestão.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/sisconGestão.csproj.AssemblyReference.cache
obj/Debug/sisconGestão.csproj.CoreCompileInputs.cache
obj/Debug/sisconGestão.csproj.FileListAbsolute.txt
obj/Debug/sisconGestão.csproj.GenerateResource.cache
obj/Debug/sisconGestão.csproj.SuggestedBindingRedirects.cache
obj/Debug/sisconGestão.exe
obj/Debug/sisconGestão.Form1.resources
obj/Debug/sisconGestão.frmAguarde.resources
obj/Debug/sisconGestão.frmDocumentosGerais.resources
obj/Debug/sisconGestão.frmEvidencias.resources
obj/Debug/sisconGestão.frmLancamentoHoras.resources
obj/Debug/sisconGestão.frmTelaPrincipal.resources
obj/Debug/sisconGestão.pdb
obj/Debug/sisconGestão.Properties.Resources.resources
.vs/sisconGestão/FileContentIndex/d9b7469c-5f2a-4ef8-ae2a-246de588b75d.vsidx
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/TempPE/SISCONPROJECTSDataSet.Designer.cs.dll
.vs/sisconGestão/FileContentIndex/723ee0c9-996b-42ca-ab6b-5b49c2467bae.vsidx
.vs/sisconGestão/FileContentIndex/08d6d9c3-6d81-408c-9011-42750bbadd8e.vsidx
.vs/sisconGestão/FileContentIndex/write.lock
.vs/sisconGestão/FileContentIndex/0df06ce9-c69f-4fac-8d44-fb2d1c2f599f.vsidx
.vs/sisconGestão/FileContentIndex/fae02626-c3e4-4af2-98c3-378d9118162e.vsidx
.vs/sisconGestão/FileContentIndex/425c4e4e-0cfd-4cb4-9938-763b45b0c3a5.vsidx
.vs/sisconGestão/FileContentIndex/0c54ba43-16a3-4a1c-8c7e-03e757f4634f.vsidx
.vs/sisconGestão/FileContentIndex/abeb172b-ce42-4c64-b193-e364ee90297c.vsidx
.vs/sisconGestão/FileContentIndex/5fc7e121-ae07-4e9d-9416-3fd6075ffa18.vsidx
.vs/sisconGestão/FileContentIndex/52ed3d16-d7dd-4a53-a0cd-f21ef82eb0b1.vsidx
.vs/sisconGestão/FileContentIndex/f279d4e8-c6f1-4e89-acf5-bb120bcf1ee7.vsidx
.vs/sisconGestão/FileContentIndex/5964291b-e8d1-4f60-a544-04b8645689f0.vsidx
obj/Debug/.AssemblyReference.cache
obj/Debug/sisconGestão.csproj.CopyComplete
obj/Debug/sisconGestão.exe.config
obj/Debug/sisconGestão.frmImpressaoApontamentosHoras.resources
bin/Debug/zh-CHT/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/VSLangProj80.xml
bin/Debug/VSLangProj80.dll
bin/Debug/VSLangProj2.xml
bin/Debug/VSLangProj2.dll
bin/Debug/VSLangProj.xml
bin/Debug/VSLangProj.dll
bin/Debug/stdole.dll
bin/Debug/SqlServerTypes/x86/SqlServerSpatial140.dll
bin/Debug/SqlServerTypes/x86/msvcr120.dll
bin/Debug/SqlServerTypes/x64/SqlServerSpatial140.dll
bin/Debug/SqlServerTypes/x64/msvcr120.dll
bin/Debug/ru/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/ru/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/ru/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/ru/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/pt-BR/Microsoft.VisualStudio.GraphModel.resources.dll
bin/Debug/pt-BR/Microsoft.VisualStudio.Data.Services.resources.dll
bin/Debug/pt-BR/Microsoft.VisualStudio.Data.Core.resources.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Microsoft.VisualStudio.VSHelp.dll
bin/Debug/Microsoft.VisualStudio.TemplateWizardInterface.xml
bin/Debug/Microsoft.VisualStudio.TemplateWizardInterface.dll
bin/Debug/Microsoft.VisualStudio.ProjectAggregator.dll
bin/Debug/Microsoft.VisualStudio.ManagedInterfaces.dll
bin/Debug/Microsoft.VisualStudio.Interop.dll
bin/Debug/Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll
bin/Debug/Microsoft.VisualStudio.GraphModel.dll
bin/Debug/Microsoft.VisualStudio.Data.Services.dll
bin/Debug/Microsoft.VisualStudio.Data.Core.dll
bin/Debug/Microsoft.VisualStudio.ComponentModelHost.dll
bin/Debug/Microsoft.SqlServer.Types.dll
bin/Debug/Microsoft.ReportViewer.WinForms.dll
bin/Debug/Microsoft.ReportViewer.ProcessingObjectModel.dll
bin/Debug/Microsoft.ReportViewer.Design.dll
bin/Debug/Microsoft.ReportViewer.DataVisualization.dll
bin/Debug/Microsoft.ReportViewer.Common.dll
bin/Debug/Microsoft.MSXML.dll
bin/Debug/Microsoft.Build.Utilities.Core.dll
bin/Debug/Microsoft.Build.Tasks.Core.dll
bin/Debug/Microsoft.Build.Framework.dll
bin/Debug/ko/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/it/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/it/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/it/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/it/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/fr/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/fr/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/fr/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/fr/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/es/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/es/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/es/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/es/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/EnvDTE80.xml
bin/Debug/EnvDTE80.dll
bin/Debug/EnvDTE.xml
bin/Debug/EnvDTE.dll
bin/Debug/de/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/de/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/de/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/de/Microsoft.ReportViewer.Common.resources.dll
.vs/sisconGestão/FileContentIndex/dd6f1bb5-646e-4f61-a51e-f56bcbfcf55f.vsidx
.vs/sisconGestão/FileContentIndex/7a8c02ce-8212-47f5-8f69-b7206b09b753.vsidx
.vs/sisconGestão/FileContentIndex/56439d53-2d84-41eb-80bd-93a27949a1c8.vsidx
.vs/sisconGestão/FileContentIndex/383ede56-a037-46e7-80e5-f9120fd7f536.vsidx
.vs/sisconGestão/FileContentIndex/1b5e169f-3cee-456a-8aed-75179ee4d655.vsidx
.vs/sisconGestão/FileContentIndex/dab61ffe-b835-437e-8fbd-b4fd615443d3.vsidx
.vs/sisconGestão/FileContentIndex/e0021c61-281b-4332-971d-79487e9efa7e.vsidx
.vs/sisconGestão/FileContentIndex/eb418639-36c3-42f6-a28d-a8bcf1dc0876.vsidx
