<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sisconGestão.Properties.Settings.SISCONPROJECTSConnectionString"
            connectionString="Data Source=DESKTOP-N8EH36C\PARTICULARSQL;Initial Catalog=SISCONPROJECTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>